<ion-view view-title="Homestay">
    <ion-content class="padding">
        <!-- <div class="row responsive-lg"> -->
            <div ng-repeat="h in homestay.items">
                <div class="list card">
                    <!-- <div class="item item-avatar">
                        <img ng-src="{{ h.user.avatar }}">
                        <h2><strong><a href="#" ng-bind="h.user.name"></a></strong></h2>
                        <p ng-bind="h.user.company"></p>
                    </div> -->

                    <div class="item item-body">
                        <img class="full-image" ng-src="{{ h.images[0] }}">
                        <p class="center">
                            <strong ng-bind="h.name"></strong>
                            <!-- <small ng-bind="h.description"></small> -->
                        </p>
                        <p>
                            <a ui-sref="homestay.detail({ id: h._id })" class="button button-block button-small button-calm">
                                View Details
                            </a>
                        </p>
                    </div>
                </div>
        <!--     </div>
        </div> -->
    </ion-content>
</ion-view>