<ion-view view-title="Homestay">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search Homestay" ng-model="homestay.keyword">
            </label>
        </div>
        <small ng-if="homestay.filter.length && homestay.keyword">
            <strong>{{ homestay.keyword }}</strong> returns {{ homestay.filter.length }} homestay
        </small>
        <a style="display: block"
            ui-sref="homestay.detail({ id: h.id })" class="list card"
            ng-repeat="h in homestay.filter = (homestay.items | filter: { name: homestay.keyword })">
            <img class="full-image" ng-src="{{ h.images[0] }}">
            <div class="item item-body" style="text-align: center">
                <strong ng-bind="h.name"></strong><br>
                <small ng-bind="h.location || 'Terengganu'"></small><br>
                <span ng-repeat="r in [1,2,3,4,5]">
                    <i class="energized"
                       ng-class="{
                            'ion-android-star-outline': h.rating <= $index,
                            'ion-android-star': h.rating > $index
                       }"
                    >
                    </i>
                </span>
            </div>
        </a>
        <div ng-if="!homestay.filter.length">
            No result for <strong>{{ homestay.keyword }}</strong>.
        </div>
    </ion-content>
</ion-view>